<div class="m-2">
    <div class="login_head text-center">
        <h1>Login</h1>
    </div>
    <div class="close">
        <a href=""><span class="material-icons">close</span></a>
    </div>
    <hr/>
    <div class="login_body">
        <form>
            <div class="input-field m-5" >
                <label for="email">Username</label>
                <input type="email" class="" id="email" name="username">
            </div>
            <div class="input-field m-5 mb-0">
                <label for="password">Password</label>
                <input type="password" class="" id="password" name="userpassword" >
            </div>
            <a class="link ml-5" href="#">forgot your password..?</a>
            <div class="input-field m-4 row" >
                <input type="submit" class="btn-large m-0 ml-4 mr-4 col-md-3" value="login" id="email" name="userlogin">
                <!-- <div class="social-divider">
                    <span>Join us </span>
                </div> -->
                <a  href="#" class="btn-large ml-4 mr-4 col-md-3 red waves-effect waves-light">Sign up</a>
            </div>
        </form>
    </div>
</div>