<nav class=" navbar-light nav-color primary-color">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo pl-3">EasyWheels</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#fff" class="link">My Bids</a></li>
          <li><a href="#fff" class="link">Upload License</a></li>
          <li title="notifications"><a href="#" class="link "> notifications<p class="pt-3 ml-2 material-icons">notifications</p></a></li>
          <li><a href="#" class="btn alert-secondary">Profile</a></li>
          <li><a href="#popover" class="btn red">Logout</a></li>
        </ul>
      </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Sass</a></li>
    <li><a href="#" >Notification <a class="material-icons"></a>notifications</a></li>
    <li><a href="#" class="">Logout</a></li>
  </ul>
  <script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>